<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <form th:action="@{/users/new}" th:object="${user}" method="post">
        <br/> FirstName:
        <label>
            <input type="text" th:field="*{firstName}"/>
        </label>
        <br/> LastName:
        <label>
            <input type="text" th:field="*{lastName}"/>
        </label>
        <br/> Age:
        <label>
            <input type="text" th:field="*{age}"/>
        </label>
        <br/>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>